body {
    display: flex;  
    justify-content: center;  
    align-items: center;      
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px; 
    box-sizing: border-box;
}

.container div {
    box-sizing: border-box;
}

.aloha.highlighted {
    background: #6393f0;  
}
